[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "tinygltf"]
	path = tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "gl3w"]
	path = gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
